<div class="col-xs-12 ml-4">
  <div class="row" *ngIf="team">
    <div class="col-sm-2 ml-2">
      <h2>{{team.cityName}} {{team.teamName}}</h2>
      <img [src]="'assets/logos/' + team.logo + '.png'" class="team-logo" [alt]="team.teamAbr">
    </div>
    <div class="col-sm-2" *ngIf="team.organization != team.teamAbr">
      <a [routerLink]="'/teams/' + team.organizationId" [queryParams]="{year: year}">
        <img class="logo-org" [src]="'assets/logos/'+ organizationLogo + '.png'"  [alt]="team.organization"/>
        <span>
          {{team.organization}}
        </span>
      </a>
    </div>
    <div class="col-sm-4">
      <app-roster-list [teamName]="team.teamName" [year]="+year"></app-roster-list>
    </div>
  </div>
</div>

