<div class="col-xs-12 ml-4">
  <div class="row" *ngIf="team">
    <div class="col-sm-2 ml-2">
      <h2>{{team.cityName}} {{team.teamName}}</h2>
      <img [src]="'assets/logos/' + team.logo + '.png'" class="team-logo" [alt]="team.teamAbr">
      <app-organization [selectedTeamId]="team.teamId" [organizationId]="team.organizationId" [year]="year"></app-organization>
    </div>
    <div class="col-sm-4">
      <app-roster-list [teamId]="team.teamId" [teamName]="team.teamName" [year]="+year"></app-roster-list>
    </div>
  </div>
</div>

