/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
//@import "../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss";


.ag-theme-alpine {
  @include ag-theme-alpine();
}

.ag-theme-alpine.batting div.bat-row div.ag-cell.bat-cell {
  padding: 10px 10px 10px 10px;
  font-size: 11px;
}

.ag-theme-alpine.batting div.ag-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.ag-theme-alpine.batting .ag-header-cell div.ag-header-cell-label span.ag-header-cell-text {
  padding: 10px 10px 10px 10px;
  font-size: 11px;
}

.form-control-full {
  width: 100%;
}

