<div class="row">
  <div class="col-sm-6 offset-sm-1">
    <h2>Dinasty - {{currentOrganization.year}} - {{currentOrganization.inPO ? 'Playoffs' : 'Regular Season'}} </h2>
  </div>
</div>
<div class="row" *ngIf="currentOrganization.teams.length">
  <div class="col-sm-3 text-center">
    <h4> Organization</h4>
    <a [routerLink]="'/teams/' + currentOrganization.teams[0].teamId" [queryParams]="{year: currentOrganization.year}">
      <img class="logo-org" [src]="'assets/logos/'+ getLogo(0) + '.png'"/>
    </a>
  </div>
  <div class="col-sm-3 text-center">
    <h4> AAA</h4>
    <a [routerLink]="'/teams/' + currentOrganization.teams[1].teamId" [queryParams]="{year: currentOrganization.year}">
      <img class="logo-org" [src]="'assets/logos/'+ getLogo(1) + '.png'"/>
    </a>
  </div>
  <div class="col-sm-3 text-center">
    <h4> AA</h4>
    <a [routerLink]="'/teams/' + currentOrganization.teams[2].teamId" [queryParams]="{year: currentOrganization.year}">
      <img class="logo-org" [src]="'assets/logos/' + getLogo(2) + '.png'"/>
    </a>
  </div>
</div>
