<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <a routerLink="/" class="navbar-brand">
    <img src="assets/logos/mlb.png" class="brand-logo" alt="Read MLB 2020">
    Read MLB
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topMenuNavbar" aria-controls="topMenuNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="topMenuNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="teams">Teams</a></li>
      <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="stats">Stats</a></li>
    </ul>
  </div>
  <div class="pull-right">
    AGA - ReadMLB 2020
    <img src="assets/logos/mvp2004.png" class="brand-logo" alt="Read MLB 2020">
  </div>
</nav>
